%div#page-container
  %div#content-wrap
    %div#title
      %h1 Find in Fake Books

    %div#searchForm
      = form_tag(:find_tune) do
        = text_field_tag(:search_string, @search_string, :autofocus => true, :placeholder => "Search for a Song Title")
        = submit_tag("Find")

    - if @tunes.any?
      %div#results
        %ul
          - @tunes.each do |tune|
            %li
              %span.title= tune.title
              %ul
                - tune.locations.sort{|l, r| l.book.title <=> r.book.title}.each do |location|
                  %li
                    -if location.pdf_page > 0
                      %span.location= "#{location.book.title} #{location.page} (PDF Pg. #{location.pdf_page})"
                    - else
                      %span.location= "#{location.book.title} #{location.page}"
                - tune.i_real_files.each do |i_real_file|
                  %li
                    %span.ireal= link_to("Import iReal", i_real_import_path(i_real_file.id), :target => "_blank")
    - if @message.present?
      %div#message= @message

  %div#footer        
    %hr
    = link_to("Questions, submissions, feedback." ,"mailto:FindInFakeBooks@gmail.com")
